@font-face {
	font-family:'chronotype';
		src:url('./fonts/ChronoType.eot');
		src:url('./fonts/ChronoType.eot?#iefix') format('embedded-opentype'),
				url('./fonts/ChronoType.woff') format('woff'),
				url('./fonts/ChronoType.ttf') format('truetype'),
				url('./fonts/ChronoType.svg#ChronoType') format('svg');
	font-weight:normal;
	font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'chronotype';
		src: url('./fonts/ChronoType.svg') format('svg');
		font-weight:normal;
		font-style:normal;
	}
}